<head>
    <link rel="stylesheet" href="css/categories.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>


<div class="container-fluid">
     <form class="form-inline">
        <div class="d-flex">
            <input class="form-control mr-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>

    <div class="py-3"></div>

    <!-- Categories Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">CATEGORIES</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#addCategory">
            + Add Category
        </a>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <h4 class="text-white modal-title w-100 font-weight-bold">Add Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body mx-3">

                    <!--  Form to add new categories -->
                    <form action="">
                        <div class="md-form mb-5">
                            <label class = "text-white"data-error="wrong" data-success="right" for="defaultForm-email">Category Name</label>
                            <input type="email" id="defaultForm-email" class="form-control validate">
                        </div>
                    </form>     
                </div>

                <!--  BUTTON TO ADD NEW CATEGORY -->
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark text-white">Add</button>
                    <!--<button class="btn btn-default text-white" data-dismiss="modal">Add</button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {{#each categories}}
            <!-- PDF Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    {{!-- <button type="button" class="btn" href="/categoryContents/{{this._id}}" style="padding: 0"> --}}
                    <a href="/categoryContents/{{this._id}}" style="text-decoration: none; color: inherit;">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-8">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        {{this.name}}
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{this.documentCount}} Files</div>
                                </div>
                                <div class="col-4">
                                    <div class="nav-item dropdown" style="padding: none;">
                                        <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li>
                                                <a class="card-link" data-dismiss="modal" data-toggle="modal"
                                                        data-target="#renameModal{{this._id}}" style="margin-left: 20%;">
                                                        Rename
                                                </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>


                                <!-- the Rename Post Modal -->
                                <div class="modal fade" id="renameModal{{this._id}}" tabindex="-1" aria-labelledby="postTitle"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body text-center">
                                                <form action="/categories/rename/{{this._id}}" method="POST">
                                                    <label for="newname">New Category Name: </label>
                                                    <input type="text" name="name" id="newname" value="{{this.name}}"
                                                        required>
                                                    <button type="submit">Change</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
</div>