<head>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/profile.css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>


<!-- Layout of the page -->
<form class="search-button form-inline">
    <div class="d-flex">
        <input class="form-control mr-1" type="search" id="city" placeholder="Search" aria-label="Search">
    </div>
</form>

<!-- Search modal -->
{{> search}}


<div class="container-fluid gedf-wrapper">
    <div class="row">
        <!-- This div is the upload feature, Note: Although this div is above the document post div, 
        it is only rendered first if the viewport is <=992 - using bootstrap "order-md-2" -->

        <div class="col-md-3 order-md-2">
            <div class="card gedf-card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="nfile-tab" data-toggle="tab" role="tab" aria-controls="newfile"
                                aria-selected="false" href="#newfile">+ New File</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade" id="newfile" role="tabpanel" aria-labelledby="nfile-tab">
                            <form id="post-form" action="/posts/makePost" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file" name="file">
                                        <label class="custom-file-label" for="file">Select Document</label>
                                    </div>

                                    <div class="py-4"></div>

                                    <label class="sr-only" for="message">post</label>
                                    <textarea class="form-control" id="message" rows="3" name="message"
                                        placeholder="Description..."></textarea>
                                </div>


                                <div class="py-4"></div>
                                <div class="btn-toolbar justify-content-between">

                                    <div class="btn-group">
                                        <button type="submit" form="post-form" class="btn btn-primary">Submit</button>
                                    </div>
                                    <div class="btn-group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <!-- <div class="inv"><i class="fa fa-globe"></i></div> 
                                            <div class="inv"><i class="fa fa-users"></i></div>
                                            <div class="inv"><i class="fa fa-user"></i></div>                               -->
                                        </button>

                                        <select aria-labelledby="btnGroupDrop1" id="visibility" name="visibility">
                                            <option class="dropdown-item" value="Public"> Public</option>
                                            <option class="dropdown-item" value="Friends"> Friends</option>
                                            <option class="dropdown-item" value="Private"> Private</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- This div is the wide document pane -->
        <div class="col-md-9 gedf-main order-md-1">
            <div class="card-header border border-secondary">
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item border-secondary">
                        <a class="nav-link active" id="public-tab" data-toggle="tab" href="#postsPublic" role="tab"
                            aria-controls="postsPublic" aria-selected="true">
                            Public
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="private-tab" data-toggle="tab" role="tab" aria-controls="postsPrivate"
                            aria-selected="false" href="#postsPrivate">
                            For You
                        </a>
                    </li>
                </ul>
            </div>

            <div class="py-2"></div>

            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="postsPublic" role="tabpanel"
                        aria-labelledby="public-tab">
                        <!-- A single post or view of the document, loop the below div using hbs variables -->
                        {{#each publicPosts}}
                        <div class="card gedf-card" style="box-shadow: 0px 0px 5px #888888">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
                                            <img class="rounded-circle" width="45" src="/user/profileImage/{{this.createdBy}}"
                                        onerror="if (this.src != 'error.jpg') this.src = 'https://picsum.photos/50/50';" alt="">
                                        </div>
                                        <div class="ml-2">
                                            <div class="h5 m-0"><a href="/profile/{{this.createdBy}}" class="h5 m-0">{{this.createdByName}}</a></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button type="button" class="btn" data-toggle="modal"
                                data-target="#exampleModalCenter{{@index}}" style="padding: 0">
                                <div class="card-body">
                                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{this.dateCreated}}
                                    </div>
                                    <a>
                                        <h5 class="card-title">{{this.filename}}</h5>
                                    </a>
                                    <p class="card-text" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                        {{this.description}}
                                    </p>
                                </div>
                            </button>


                        </div>

                        <!-- Detailed Post Modal -->
                        <div class="modal fade" id="exampleModalCenter{{@index}}" tabindex="-1"
                            aria-labelledby="postTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header text-center">

                                        <img class="rounded-circle" width="45" src="/user/profileImage/{{this.createdBy}}"
                                        onerror="if (this.src != 'error.jpg') this.src = 'https://picsum.photos/50/50';" alt="">

                                        <h5 class="font-weight-bold ml-auto">{{this.filename}}</h5>


                                        <button type="button" class="btn-close" data-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row align-items-center">
                                                <div class="col-3 category">
                                                    <div class="tag-container-1
                                                                font-weight-bold">Category</div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="tag-container-2
                                                                font-weight-bold">Symbol</div>
                                                </div>
                                                <div class="col-5 text-right ">
                                                    <form action="/posts/changeVisibility/{{this._id}}" method = "POST">
                                                        <select name="visibility" id="Visivility"
                                                            onchange="this.form.submit()">
                                                            <option value="" selected disabled hidden>{{this.visibility}}
                                                            </option>
                                                            <option value="Public" label="Public"></option>
                                                            <option value="Friends" label="Friends"></option>
                                                            <option value="Private" label="Private"></option>
                                                            {{#each ../allCategories}}
                                                            <option value="{{this._id}}" label="{{this.name}}"></option>
                                                            {{/each}}
                                                        </select>
                                                    </form>
                                                </div>

                                            </div>
                                            <div class="row justify-content-center" style="margin-top:0.8em">
                                                <div class="col-12 fileImage-container text-center">
                                                    <img src="https://media.istockphoto.com/vectors/contract-or-document-signing-icon-document-folder-with-
                                                    stamp-and-text-vector-id1179640294?k=20&m=1179640294&s=612x612&w=0&h=O2IBtlV52-6gWSAeyozPIFkfZ-LzHnpXBw2tOuUToj8=" alt="File Img"
                                                    class="profile-img">
                                                </div>
                                                <div class="col-12 text-right">
                                                    <!-- the link to open rename modal -->

                                                    <a class="card-link" data-dismiss="modal" data-toggle="modal"
                                                        data-target="#renameModal{{this._id}}" style="margin-left: 20%;">
                                                        Rename</a>
                                                    <a href="/posts/download/{{this._id}}" style="margin-left: 3%;">
                                                        download </a>
                                                    <a href="/posts/removePost/{{this._id}}" style="margin-left: 3%;"> Delete
                                                    </a>
                                                </div>
                                                <div class="col-12 small-text">

                                                    <small><i class="bi bi-heart"></i> 103</small>
                                                    <small class="time"> {{this.dateCreated}} </small>

                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-11">
                                                    {{this.description}}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                                        <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                                        {{!-- <a class="card-link" data-toggle="modal"
                                            data-target="#exampleModalCenter{{@index}}">
                                            View Details
                                        </a> --}}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- the Rename Post Modal -->
                        <div class="modal fade" id="renameModal{{this._id}}" tabindex="-1" aria-labelledby="postTitle"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <form action="posts/renamePost/{{this._id}}" method="POST">
                                            <label for="newname">New Title</label>
                                            <input type="text" name="filename" id="newname" value="{{this.filename}}"
                                                required>
                                            <button type="submit">change</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {{/each}}
                        <!-- End of a single document post -->
                    </div>


                    <!-- FOR YOU POSTS TAB -->
                    <div class="tab-pane fade" id="postsPrivate" role="tabpanel" aria-labelledby="private-tab">
                        <!-- HBS each loop to display private posts -->

                        {{#each friendsPosts}}
                        <div class="card gedf-card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
                                            <img class="rounded-circle" width="45" src="/user/profileImage/{{this.createdBy}}"
                                                onerror="if (this.src != 'error.jpg') this.src = 'https://picsum.photos/50/50';" alt="">
                                        </div>
                                        <div class="ml-2">
                                            <div class="h5 m-0"><a href="/profile/{{this.createdBy}}" class="h5 m-0">{{this.createdByName}}</a></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button type="button" class="btn" data-toggle="modal"
                                data-target="#foryouModal{{@index}}" style="padding: 0">
                                <div class="card-body">
                                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{this.dateCreated}}
                                    </div>
                                    <a>
                                        <h5 class="card-title">{{this.filename}}</h5>
                                    </a>
                                    <p class="card-text" class="btn btn-primary" data-toggle="modal"
                                        data-target="#foryouModal">
                                        {{this.description}}
                                    </p>
                                </div>
                            </button>


                        </div>

                        {{!-- PIpeLine Comments --}}
                        

                        <!-- Detailed Post Modal -->
                        <div class="modal fade" id="foryouModal{{@index}}" tabindex="-1"
                            aria-labelledby="postTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        
                                        <img class="rounded-circle" width="45" src="/user/profileImage/{{this.createdBy}}"
                                        onerror="if (this.src != 'error.jpg') this.src = 'https://picsum.photos/50/50';" alt="">

                                        <h5 class="font-weight-bold ml-auto">{{this.filename}}</h5>


                                        <button type="button" class="btn-close" data-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row align-items-center">
                                                <div class="col-3 category">
                                                    <div class="tag-container-1
                                                                font-weight-bold">Category</div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="tag-container-2
                                                                font-weight-bold">Symbol</div>
                                                </div>
                                                <div class="col-5 text-right ">
                                                    <form action="/posts/changeVisibility/{{this._id}}" method = "POST">
                                                        <select name="visibility" id="Visivility"
                                                            onchange="this.form.submit()">
                                                            <option value="" selected disabled hidden>{{this.visibility}}
                                                            </option>
                                                            <option value="Public" label="Public"></option>
                                                            <option value="Friends" label="Friends"></option>
                                                            <option value="Private" label="Private"></option>
                                                            {{#each ../allCategories}}
                                                            <option value="{{this._id}}" label="{{this.name}}"></option>
                                                            {{/each}}
                                                        </select>
                                                    </form>
                                                </div>

                                            </div>
                                            <div class="row justify-content-center" style="margin-top:0.8em">
                                                <div class="col-12 fileImage-container text-center">
                                                    <img src="https://media.istockphoto.com/vectors/contract-or-document-signing-icon-document-folder-with-
                                                    stamp-and-text-vector-id1179640294?k=20&m=1179640294&s=612x612&w=0&h=O2IBtlV52-6gWSAeyozPIFkfZ-LzHnpXBw2tOuUToj8=" alt="File Img"
                                                    class="profile-img">
                                                </div>
                                                <div class="col-12 text-right">
                                                    <!-- the link to open rename modal -->

                                                    <a class="card-link" data-dismiss="modal" data-toggle="modal"
                                                        data-target="#renameModal{{this._id}}" style="margin-left: 20%;">
                                                        Rename</a>
                                                    <a href="/posts/download/{{this._id}}" style="margin-left: 3%;">
                                                        download </a>
                                                    <a href="/posts/removePost/{{this._id}}" style="margin-left: 3%;"> Delete
                                                    </a>
                                                </div>
                                                <div class="col-12 small-text">

                                                    <small><i class="bi bi-heart"></i> 103</small>
                                                    <small class="time"> {{this.dateCreated}} </small>

                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-11">
                                                    {{this.description}}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                                        <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- the Rename Post Modal -->
                        <div class="modal fade" id="renameModal{{this._id}}" tabindex="-1" aria-labelledby="postTitle"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <form action="/posts/renamePost/{{this._id}}" method="POST">
                                            <label for="newname">New Title</label>
                                            <input type="text" name="newname" id="newname" value="{{this.filename}}"
                                                required>
                                            <button type="submit">change</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>  

                        {{/each}}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $('#city').focus(function () {
        //open bootsrap modal
        $('#myModal').modal({
            show: true
        });
    });

    $(document).ready(function () {
        $("#myModal").on('shown.bs.modal', function () {
            $(this).find('input[type="text"]').focus();
        });
    });
</script>