<head>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<!-- the template for the profile -->
<section class="vh-100">
    <!-- profile heading -->
    <div class="container-fluid">
        <div class="row justify-content-center h-100">
            <div class="col col-sm-8 col-lg-6 text-lg-right text-sm-center
                align-self-center">
                <p class="lead display-6" style="margin-right: 2.7rem;"> {{userInfo.displayName}}</p>
                <pre class="text-primary font-weight-bold"
                    style="margin-right:
                    4.2rem; font-size: 16px;font-family: Arial, Helvetica,
                    sans-serif;">{{userInfo.friends.length}}               1157                {{userInfo.posts.length}}</pre>
                <pre class="text-primary font-weight-bold"
                    style="font-size:
                    18px;font-family: Arial, Helvetica, sans-serif;"><i class="bi bi-people-fill"></i>Friends      <i class="bi bi-hand-thumbs-up-fill"></i>Likes        <i class="bi bi-file-post"></i>Posts        </pre>
            </div>

            <div class="col-sm-5 col-lg-3 ">
                <div class="image-cropper">
                    <img src="/user/profileImage/{{userInfo._id}}"
                        onerror="if (this.src != 'error.jpg') this.src = 'https://picsum.photos/50/50';"
                        alt="Generic placeholder image" class="img-fluid
                                profile-img">
                </div>
            </div>
            <!-- button to editProfile Page -->
            {{#if (checkSame userInfo._id user._id)}}
                <div class="col-2 ml-1">
                    <a type="button" class="btn btn-secondary " href="../editProfile">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                            class="bi bi-gear" viewBox="0 0 16 16">
                            <path
                                d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z">
                            </path>
                            <path
                                d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 
                                1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z">
                            </path>
                        </svg>
                    </a>
                </div>
            {{/if}}
        </div>


        <!-- status and about -->
        <hr>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-12 align-self-center">
                <p class="text-sm-center text-lg-right" style="font-size:
                        18px;font-family: Arial, Helvetica, sans-serif;">Current
                    Status</p>

            </div>

            <div class="col-8 my-4">
                <div class="status-container">
                    <p class="font-weight-bold">{{userInfo.status}}</p>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-12 align-self-center">
                <pre class="text-lg-right text-sm-center" style="font-size:
                        18px;font-family: Arial, Helvetica, sans-serif;"> About       </pre>
            </div>

            <div class="col-lg-8 col-sm-12 my-3">
                <div class="description-container">
                    <p class="font-weight-bold">{{userInfo.description}}</p>
                </div>
            </div>
        </div>
        </hr>
        <div class="py-3"></div>
        <a type="button" class="btn btn-primary" href="../files/{{userInfo._id}}" style="margin-left: 33.5%;"> View
            {{userInfo.displayName}}'s Files</a>
        {{#if (checkAdmin user.role)}}
            {{#if (checkBlocked userInfo.blocked)}}
                {{#if (checkDifferent userInfo._id user._id)}}
                    <a type="button" class="btn btn-secondary" href="../user/blockUser/{{userInfo._id}}" style="margin-left: 5.5%;">
                        Block {{userInfo.displayName}}</a>
                {{/if}}
            {{/if}}
        {{/if}}



</section>